/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.turkey-express-badge-single {
    display: flex;
    align-items: center;
    margin-right: 3px;
}
.directorist-listing-single__info > .turkey-express-badge-single > span {
    padding: 0 0.5rem !important;
    vertical-align: middle;
    line-height: 2.2 !important;
    text-align: center;
}

.directorist-listing-single__info > .turkey-express-badge-single > .hasToolTip {
    margin-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.directorist-listing-single__info > .turkey-express-badge-single > .badgeToolTip {
    padding-left: 0 !important;
}
.directorist-listing-single .directorist-listing-single__info .turkey-express-badge-single .directorist-info-item {
    padding-left: 0.5rem !important;
}

.badgeToolTipIcon:after {
    background-color: white !important;
    height: 22px !important;
    width: 14px !important;
}
.turkey-express-badge {
    display: flex;
    align-items: center;
}
.turkey-express-badge > .hasToolTip {
    margin-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.badgeToolTip {
    height: 22px;
    padding-right: 0.5rem;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}
.badgeToolTipText.isHidden {
    display: none !important;
}
.badgeToolTipText {
    font-size: 8px;
    position: absolute;
    top: 60%;
    right: 50%;
    padding: 5px;
    width: 100%;
    height: auto !important;
    z-index: 99999999;
    color: White;
    font-weight: Bold;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
}