/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .directorist-badge.directorist-info-item.turkey-express-badge-single > span{
    padding: 0 0.5rem !important;
    vertical-align: middle;
    line-height: 2.2 !important;
    text-align: center;
}
.directorist-listing-single__info >.directorist-badge.directorist-info-item.turkey-express-badge-single > span:first-child {
    padding-left: 0.5rem !important;
}

.badgeToolTipIcon:after {
    background-color: white !important;
    height: 22px !important;
    width: 14px !important;
}
.turkey-express-badge {
    display: flex;
    align-items: center;
}
.turkey-express-badge > .hasToolTip {
    margin-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.badgeToolTip {
    height: 22px;
    padding-right: 0.5rem;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}
.badgeToolTip:after{
    visibility: hidden;
    content:  attr(data-tooltip);
    font-size: 10px;
    position: absolute;
    top: 100%;
    padding: 5px;
    width: 100%;
    z-index: 99999999;
    color: White;
    font-weight: Bold;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
}

.badgeToolTip:hover:after {
    visibility: visible;
}