/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.turkeyExpressOptions input {
    width: 100%;
}
.turkeyExpressOptions th {
    width: 40%;
}

.turkeyExpressOptions input[type='submit'] {
    width: 30%;
}